$main-color: #2d2d94;
$white-color: #ffffff;
$gray-color: #93a2ac;
$black-color: #121e24;


//FONT FAMILY
@font-face {
  font-family: CeraPRO;
  src: url(../font/cera/Cera_Pro.otf) format("opentype");
}

@font-face {
  font-family: CeraPROBold;
  src: url(../font/cera/Cera_Pro_Bold.otf) format("opentype");
}

@font-face {
  font-family: CeraPROLight;
  src: url(../font/cera/Cera_Pro_Light.otf) format("opentype");
}

@mixin font-family($font-family , $font-size, $font-weight , $font-style , $font-stretch , $line-height,$letter-spacing, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
  font-stretch: $font-stretch;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

@mixin position($position,$top,$left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin after( $width , $height , $transition , $z-index , $bg-color) {
  width: $width;
  height: $height;
  transition: $transition;
  z-index: $z-index;
  background-color: $bg-color;
}

@mixin header-logo($color,$span-color) {
  .header-logo {
    a {
      text-decoration: none;

      h3 {
        @include font-family(CeraPRO, 30px, 700, normal, normal, normal, normal, $color);

        span {
          color: $span-color;
          font-family: initial;
        }
      }
    }
  }
}

@mixin header-menu($menu-main-color , $after-color , $menu-sub-color) {
  .nav-bar {
    margin: 11px 36px 0 0;

    .nav-menu {
      //float: right;
      padding: 0;
      margin: 0;

      .nv-menu-li {
        position: relative;
        padding-right: 38px;
        display: inline-block;
        cursor: pointer;

        &::after {
          content: "";
          @include position(absolute, 35px, -8px);
          @include after(0, 2px, .3s linear, 0, $after-color);
        }

        &:last-child {
          padding-right: 0;
        }

        a {
          @include font-family(CeraPROLight, 15px, 500, normal, normal, normal, -0.54, $menu-main-color);
          text-decoration: none;
        }

        .sub-menu {
          @include position(absolute, 100%, 0);
          padding: 0;
          margin: 0;
          float: right;
          z-index: 100;
          padding: 13px 0 0 0;

          li {
            min-width: 155px;
            padding: 10px 0;
            display: none;
            border-bottom: none;

            a {
              text-decoration: none;
              @include font-family(CeraPRO, 14px, normal, normal, normal, normal, -0.46, $menu-sub-color);
            }
          }
        }

        &:hover {
          &:last-child {
            &::after {
              width: 50px;
            }
          }

          &::after {
            width: 80%;
          }

          .sub-menu {
            li {
              display: block;
            }
          }
        }
      }
    }
  }
}

.path {
  font-family: CeraPROLight;
}

@mixin header-button($border-color,$btn-color) {
  .stu-btn-id {
    border-radius: 30px;
    padding: 12px 27px;
    //float: right;
    border: 1px solid $border-color;

    a {
      @include font-family(CeraPRO, 14px, 500, normal, normal, normal, -0.54, $btn-color);
      text-decoration: none;

      &::after {
        content: "";
      }
    }
  }
}

@mixin path($bg-color , $list-color , $color) {
  background-color: $bg-color;
  //padding: 25px 100px;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      @include font-family(CeraPRO, 14px, bold, normal, normal, normal, -0.46, $list-color);

      a {
        color: $color;
        font-weight: normal;
        text-decoration: none;

        i {
          margin: 0 10px;
        }
      }
    }
  }
}


//---------------------

.distance {
  padding: 150px 0;
}

.head-center {
  text-align: center;

  .title {
    h1 {
      @include font-family(CeraPRO, 44px, bold, normal, normal, normal, normal, $main_color);
    }
  }
}

.head-left {
  padding: 30px 0;
  text-align: left;

  .title {
    h1 {
      @include font-family(CeraPRO, 30px, bold, normal, normal, normal, normal, $main_color);
    }
  }
}

//---------------------

.blog-path {
  @include path($white_color, $black_color, $black_color);
}

.video-path {
  @include path($white_color, $black_color, #969696);
  margin: 0;

}

.about-path,
.contact-path,
.teacher-path,
.training-path,
.training-ui-path {
  @include path($main_color, $white_color, $white_color);
}

.training-path {
  //padding-top: 122px;
  //padding-bottom: 30px;
  background-color: $main-color;
}

//---------------------

.header-res {
  display: none;
  @include header-logo($main_color, #00bcf2);
  @include header-button($main_color, #00bcf2);

  .stu-btn-holder {
    display: flex;
    justify-content: center;
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .open-sub-menu {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 2px;
      top: 12px;
      right: 0;
      background: $main_color;
    }

    &:after {
      content: '';
      position: absolute;
      width: 14px;
      height: 2px;
      bottom: 10px;
      right: 0;
      transform: rotate(90deg);
      background: $main_color;
    }
  }

  .active-sub {
    &:after {
      background: transparent;
    }
  }

  .menu {
    padding: 10px;
    cursor: pointer;

    .menu-icon {
      position: relative;
      width: 30px;
      height: 4px;
      background: $main_color;
      transition: .1s ease;

      &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        top: 10px;
        background: $main_color;
      }

      &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        bottom: 10px;
        background: $main_color;
      }
    }
  }

  .menu-content {
    position: absolute;
    z-index: 13;
    right: 0;
    left: 0;
    background: white;

    span {
      color: $main-color;
      font-weight: 600;
    }

    .menu-list {
      & > div {
        border-bottom: 0.5px solid #4e4eb738;
        border-left: 0.5px solid #4e4eb738;
        border-right: 0.5px solid #4e4eb738;

        &:first-child {
          border-top: 0.5px solid #4e4eb738;
        }

        .menu-title {
          display: flex;
          justify-content: space-between;
        }
      }

      .menu-sub-content {
        padding-left: 100px;
        display: none;

        ul {
          padding: 0;
          list-style: none;
        }
      }

      .active-menu-sub {
        background: #4e4eb738;

        .menu-sub-content {
          display: block;
        }
      }
    }
  }

  .active-menu {
    .menu-icon {
      background: transparent;

      &:after {
        content: '';
        transform: rotate(45deg);
        bottom: 0;
      }

      &:before {
        content: '';
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}

header {
  .header-main {
    padding: 25px 0;
    width: 100%;
    z-index: 9;
    position: relative;
    @include header-logo($white-color, $white-color);
    @include header-menu($white-color, $white-color, $white-color);
    @include header-button($white-color, $white-color);

    .overlay-menu {
      width: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.01));
    }
  }

  .header-dark {
    padding: 40px 100px;
    background-color: transparent;
    width: 100%;
    z-index: 10;
    @include header-logo($main_color, #00bcf2);
    @include header-menu($main_color, $main_color, $main_color);
    @include header-button($main_color, $main_color);
  }

  .header-light {
    @include header-logo($main_color, #00bcf2);
    @include header-menu($main_color, $main_color, $white_color);
    @include header-button($main_color, $main_color);
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;

  .nav-list {
    display: flex;
  }
}

#slider1 {
  padding: 106px 0 50px 0;
}

.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url('../image/Bitmap.jpg');

  .overlay {
    @include position(absolute, 0, 0);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
  }

  .slider-content {
    margin-top: 100px;
    margin-bottom: 155px;

    .title {
      h1 {
        @include font-family(inherit, 70px, 900, normal, normal, 0.86, -2.68, $white_color);
      }
    }

    .text {
      padding: 25px 0;

      p {
        @include font-family(CeraPRO, 19px, normal, normal, normal, 1.56, normal, $white_color);
      }
    }

    .btn-more {
      position: relative;
      display: inline-block;

      a {
        text-decoration: none;
        padding: 8px 30px;
        @include font-family(CeraPRO, 16px, 700, normal, normal, 1.56, normal, $black_color);
        background-color: $white_color;
        border: 1px solid $white_color;
        border-radius: 30px;
        display: inline-block;
      }
    }
  }
}

.features-block {
  .features-block-content {
    padding: 75px;
    display: flex;

    .box {
      margin-left: 40px;
      display: flex;

      .icon {
        img {
          height: 85px;
        }
      }

      .content {
        margin-left: 70px;

        .title {
          h5 {
            @include font-family(CeraPRO, 18px, 600, normal, normal, normal, -0.68, $main-color);
          }
        }

        .text {
          p {
            @include font-family(CeraPROLight, 14px, normal, normal, normal, normal, -0.68, #c9c9c9);
          }
        }
      }
    }
  }
}

.difference-block {
  padding-top: 100px;

  .photo {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    padding: 60px;

    .title {
      margin-bottom: 40px;

      h2 {
        @include font-family(CeraPRO, 40px, bold, normal, normal, normal, -0.68, $main_color);
      }
    }

    .text {
      p {
        @include font-family(CeraPROLight, 16px, normal, normal, normal, 1.4, -0.68, #adadad);
      }
    }
  }
}

.expert-block {
  padding-top: 100px;

  .head-center {
    padding-bottom: 50px;

    .icon {
      margin-bottom: 25px;

      i {
        color: #f6f6f8;
        font-size: 40px;
      }
    }
  }

  .person {
    padding: 30px;

    .photo {
      width: 70px;
      height: 70px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .fullname {
      margin-top: 15px;

      h1 {
        @include font-family(CeraPRO, 16px, bold, normal, normal, normal, -0.54, #2e2e2e);
        text-align: center;
        margin: 0;
      }
    }

    .position {
      margin: 20px 0;

      h1 {
        @include font-family(CeraPRO, 14px, 600, normal, normal, normal, -0.46, #7a7a7a);
        text-align: center;
        margin: 0;
      }
    }

    .text {
      p {
        @include font-family(CeraPRO, 14px, normal, normal, normal, 1.5, -0.46, #969696);
        text-align: center;
      }
    }

    &.active {
      border-bottom: 1.9px solid $main-color;
      text-align: center;
    }
  }
}

.partner-block {
  padding-top: 150px;

  .partner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .our-partner {
      .photo {
        width: 230px;
        //height: 53px;
        text-align: center;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

//---------------> about start <-------------

.our-history {
  .history {
    .title {
      margin-bottom: 2em;

      h1 {
        @include font-family(CeraPRO, 40px, bold, normal, normal, normal, -0.68, $main_color);
      }
    }

    p {
      @include font-family(CeraPRO, 16px, normal, normal, normal, 1.38, -0.68, #969696);
    }
  }

  .photo {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.management-staff {
  .staff {
    .photo {
      img {
        width: 100%;
        height: 100%;
      }
    }

    .fullname {
      text-align: center;
      margin-top: 15px;

      h4 {
        @include font-family(CeraPRO, 20px, bold, normal, normal, normal, normal, #2e2e2e);
      }
    }

    .position {
      text-align: center;

      p {
        @include font-family(CeraPRO, 16px, normal, normal, normal, normal, normal, #969696);
      }
    }
  }
}

//---------------> blog start <-------------

.blog-cooperation, .training-ui-cooperation {
  background-color: $main_color;
  margin-bottom: 80px;

  .blog-cooperation-content {
    position: relative;
    padding: 10px 0 15px 0;
  }

  .photo {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);
    position: absolute;
    width: 632px;
    top: 101px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    width: 50%;
    padding: 54px;
    margin-left: auto;

    .title {
      padding-top: 90px;

      h1 {
        @include font-family(CeraPRO, 30px, bold, normal, normal, 1.27, -1.15, $white_color);
      }
    }

    .text {
      margin: 20px 0;

      p {
        @include font-family(CeraPRO, 16px, normal, normal, normal, 1.57, normal, #c9c9c9);
      }
    }

    .view-date {
      margin: 30px 0;

      .date {
        display: inline-block;
        margin-right: 100px;

        img {
          width: 17px;
          height: 17px;
        }

        span {
          margin-right: 5px;
          @include font-family(CeraPRO, 14px, normal, normal, normal, 1.15, normal, $white_color);
        }
      }

      .view {
        display: inline-block;

        img {
          //width: 17px;
          height: 17px;
        }

        span {
          margin-right: 5px;
          @include font-family(CeraPRO, 14px, normal, normal, normal, 1.15, normal, $white_color);
        }
      }
    }

    .more-btn {
      a {
        padding: 15px 39px;
        text-decoration: none;
        border-radius: 50px;
        background-color: $white_color;
        display: inline-block;
        @include font-family(CeraPRO, 14px, 600, normal, normal, normal, -1.54, $main_color);
      }
    }
  }
}

.training-ui-cooperation {

  .content {
    padding: 40px;
  }
}

.new-blog {
  padding: 80px 0 12px 0;
}

.new-blog, .old-blog {
  .content-box {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    display: flex;

    .photo {
      width: 500px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      padding: 20px 15px 10px 25px;
      //width: 90%;
      .title {
        h1 {
          @include font-family(CeraPRO, 20px, bold, normal, normal, 1.25, normal, #2e2e2e);
        }
      }

      .text {
        margin: 22px 0;

        p {
          @include font-family(CeraPRO, 14px, bold, normal, normal, 1.57, normal, #969696);

          a {
            text-decoration: none;
            @include font-family(CeraPRO, 14px, bold, normal, normal, 1.57, normal, #2e2e2e);
          }
        }
      }

      .datetime {
        .time-view {
          display: inline-block;

          span {
            font-size: 14px;
            font-weight: 500;
          }
        }

        .share {
          display: inline-block;
          margin-left: 15px;

          a {
            img {
              width: 15px;
            }
          }
        }
      }
    }
  }
}

.old-blog {
  padding: 20px 0 100px 0;
}

//---------------> contact start <-------------

.contact-map {
  .gmap_canvas {
    width: 100% !important;
    height: auto;

    iframe {
      width: 100% !important;
    }
  }

  .history {

    .title {
      margin-bottom: 30px;

      h1 {
        @include font-family(CeraPRO, 40px, bold, normal, normal, normal, normal, $main_color);
      }
    }

    .content {
      .phone, .mobile_phone, .address {
        margin: 30px 0;

        img {
          width: 15px;
          margin-right: 15px;
        }

        span {
          @include font-family(CeraPRO, 18px, normal, normal, normal, 1.72, normal, #969696);
        }
      }

      .social_links {
        .title {
          h1 {
            @include font-family(CeraPRO, 20px, bold, normal, normal, 1.72, normal, $main_color);
          }
        }

        .instagram, .twitter, .facebook {
          display: inline-block;
          margin: 0 10px;

          img {
            width: 30px;
          }
        }
      }

      p {
        @include font-family(CeraPRO, 18px, bold, normal, normal, 1.72, normal, $main_color);
      }
    }
  }
}

.new-training {
  padding-top: 100px;
}

.video-boxes, .new-training, .old-training {
  .content-box {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);
    //margin-bottom: 50px;
    height: 100%;

    iframe {
      width: 410px;
      height: 216px;
    }

    .photo {
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 0%;
      }

      .play-btn {
        @include position(absolute, 13%, 41%);
        height: 80px;
        width: 80px;
      }
    }

    .content {
      padding: 25px 30px;

      .title {
        h1 {
          @include font-family(CeraPRO, 20px, bold, normal, normal, 1.3, normal, #2e2e2e);
        }
      }

      .text {
        margin: 30px 0;

        p {
          @include font-family(CeraPRO, 14px, bold, normal, normal, 1.57, normal, #969696);

          a {
            text-decoration: none;
            @include font-family(CeraPRO, 14px, bold, normal, normal, 1.57, normal, $black-color);

          }
        }
      }

      .datetime {
        .time-view {
          display: inline-block;

          span {
            @include font-family(CeraPRO, 14px, 500, normal, normal, 1.64, normal, #2e2e2e);
          }

          a {
            img {
              width: 15px;
            }
          }
        }
      }
    }
  }
}

.video-boxes {
  .ul {
    float: right;
    padding: 0;
    padding-top: 40px;
    margin: 0;

    li {
      display: inline-block;
      @include font-family(CeraPRO, 20px, bold, normal, normal, normal, -0.46, $main-color);

      a {
        color: #969696;
        font-weight: normal;
        text-decoration: none;

        i {
          margin: 0 10px;
        }
      }

      &.active {
        border-bottom: 1px solid $main-color;
        color: $main-color;
      }
    }
  }
}

.more-btn {
  a {
    @include font-family(CeraPRO, 21px, normal, normal, normal, 1.25, normal, $main-color);
    text-decoration: none;

    i {
      margin-left: 10px;
    }
  }
}

//---------------> new-training-cooperation start <-------------

.training-cooperation,
.old-training-cooperation,
.selected-training-cooperation {
  background-color: $main_color;

  .photo {
    position: relative;
    bottom: -50px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

    img {
      width: 100%;
      height: auto;
    }
  }

  .content {
    padding: 0;

    .title {
      margin-top: 50px;

      h1 {
        @include font-family(CeraPRO, 50px, normal, normal, normal, 1.2, -1.91, $white_color);
      }
    }
  }
}

.training-cooperation {
  .training-cooperation-content {
    position: relative;

    .content {
      width: 50%;
      padding: 100px 0 60px 0;

      .title {
        margin-top: 90px;

        h1 {
          @include font-family(CeraPROBold, 48px, bold, normal, normal, 1.27, -1.15, $white_color);
        }
      }
    }

    .photo {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
      position: absolute;
      width: 632px;
      top: 0;
      right: 0;
    }
  }


}

.selected-training-cooperation {
  padding: 100px;
  padding-bottom: 80px;

  .photo {
    @include position(absolute, -65px, 97px);
  }

  .content {
    .title {
      margin-top: 100px;

      h1 {
        @include font-family(CeraPRO, 50px, bold, normal, normal, 1.2, -1.91, $white_color);
      }
    }
  }
}

.old-training-cooperation {
  padding: 100px;
  padding-bottom: 80px;

  .photo {
    @include position(absolute, -80px, 100px);
  }

  .content {
    .title {
      margin-top: 100px;

      h1 {
        @include font-family(CeraPRO, 50px, bold, normal, normal, 1.2, -1.91, $white_color);
      }
    }
  }
}

.opinion {
  padding-bottom: 100px;

  .date-address {
    margin-top: 30px;

    span {
      @include font-family(CeraPRO, 18px, normal, normal, normal, 1.72, normal, #969696);
    }

    .date {
      margin-right: 65px;

      img {
        width: 22px;
        height: auto;
        margin-right: 10px;
      }
    }
  }

  .opinion-register {
    display: flex;
    justify-content: space-between;
  }

  .social-links {
    .instagram {
      display: inline-block;

      img {
        width: 35px;
      }
    }

    .twitter {
      display: inline-block;
      margin: 0 15px;

      img {
        width: 35px;
      }
    }

    .facebook {
      display: inline-block;
      margin-right: 15px;

      img {
        width: 35px;
      }
    }

    .more-links {
      display: inline-block;
      margin-right: 15px;

      img {
        width: 35px;
      }
    }

    .share {
      display: inline-block;

      a {
        padding: 9px 12px;
        background-color: #f6f6f8;
        text-decoration: none;
        border-radius: 5px;
        @include font-family(CeraPRO, 12px, normal, normal, normal, 1.75, normal, #969696);
      }
    }
  }

  .register-btn {
    @include font-family(CeraPRO, 14px, 500, normal, normal, normal, -0.54, $white_color);
    text-decoration: none;
    background-color: $main_color;
    border-radius: 30px;
    padding: 12px 35px;

    a {
      color: white;
    }
  }

  .content {
    padding: 35px 0 0 0;

    .title {
      h4 {
        @include font-family(CeraPRO, 16px, normal, normal, normal, 1.5, normal, #969696);
      }
    }

    .text {
      .university, .experience, .position {
        margin-top: 20px;

        p {
          @include font-family(CeraPRO, 16px, normal, normal, normal, 1.5, normal, #969696);
        }
      }
    }
  }
}

//---------------> old training start <-------------

.photo-galary {
  .photo-up {
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .photo-down {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

//---------------> training cooperation start <-------------

.heading {

  .title {
    h1 {
      @include font-family(CeraPRO, 40px, bold, normal, normal, normal, normal, $main_color);
    }
  }

  .context {
    margin: 20px 0;

    h1 {
      @include font-family(CeraPRO, 20px, normal, normal, normal, normal, 0.35, #2e2e2e);
    }
  }
}

.training-ui-cooperation {
  .photo {
    @include position(absolute, 25px, -0px);
  }
}


//---------------> tedrisimiz  start <-------------

.our-education-path {
  @include path(transparent, $white_color, $white_color);
}

.our-education {
  background-image: url("../image/video_main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 650px;

  .overlay {
    @include position(absolute, 0, 0);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
  }

  .our-education-content {
    margin-top: 10px;
    margin-left: 50px;

    .title {
      text-align: center;

      .text-light {
        max-width: 7em;
        margin: 0 auto;
      }

      h1 {
        @include font-family(CeraPROBold, 70px, 900, normal, normal, 1, normal, $white_color);
      }
    }
  }
}

.phyton-camp {
  position: relative;
  height: 284px;

  .phyton {
    background-color: $main_color;
    position: absolute;
    top: -62px;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 31px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    .python-content {
      max-width: 55em;
      margin: 0 auto;

      .title {
        margin-top: 45px;

        h3 {
          @include font-family(CeraPRO, 40px, bold, normal, normal, normal, -0.68, $white_color);
        }
      }

      .content {
        margin-top: 21px;

        p {
          @include font-family(CeraPRO, 16px, normal, normal, normal, 1.68, 0.91, $white_color);
        }
      }

      .photo {
        width: 280px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.road-map {
  padding-top: 100px;

  .head {
    text-align: center;
    padding: 0px;

    .title {
      text-align: center;

      h1 {
        @include font-family(CeraPRO, 40px, bold, normal, normal, normal, 0.68, $main_color);
      }
    }
  }

  .slogan {
    text-align: center;
    margin: 30px 0;

    h1 {
      @include font-family(CeraPRO, 16px, normal, normal, normal, 1.68, 0.61, #969696);
    }
  }

  .icon {
    text-align: center;

    img {
      width: 60px;
      height: 65px;
    }

    h1 {
      margin: 30px 0;
      margin-bottom: -15px;
      @include font-family(CeraPRO, 16px, normal, normal, normal, 1.68, 0.61, $main_color);
    }
  }

  .border-circle {
    .circle-light, .circle-dark {
      margin: 0 auto;
      width: 46px;
      height: 46px;
      opacity: 0.34;
      border-radius: 50px;
      background-color: #d8d8d8;
    }

    .circle-light {
      position: relative;
      top: 36px;
    }

    .circle-dark {
      width: 26px;
      height: 26px;
      opacity: 1;
    }
  }

  .straight {
    margin: 0 auto;
    width: 1px;
    height: 132px;
    border: solid 3px #d8d8d8;
  }

  .up {
    border-bottom: 3px solid #d8d8d8;;
    width: 100%;

    .week {
      h1 {
        @include font-family(CeraPRO, 14px, normal, normal, normal, normal, -0.54, #969696);
      }
    }

    .fullstack {
      float: right;

      h1 {
        @include font-family(CeraPRO, 14px, 500, normal, normal, normal, -0.45, $main_color);
      }
    }
  }

  .down {
    margin-top: 10px;

    .program-fundamental {
      float: right;

      h1 {
        @include font-family(CeraPRO, 16px, 500, normal, normal, normal, -0.61, #2e2e2e);
      }
    }

    .algarithm {
      float: right;

      h1 {
        @include font-family(CeraPRO, 14px, normal, normal, normal, normal, -0.54, #969696);
      }
    }

    .icon-c {
      width: 20px;
      float: right;

      img {
        width: 100%;
      }
    }

    .algarithms {
      float: right;

      h1 {
        @include font-family(CeraPRO, 16px, normal, normal, normal, normal, 0.54, #969696);
      }
    }
  }
}

//---------------> video start <-------------

.selected-video-content {
  padding-top: 100px;

  .date-address {
    padding: 30px 0;
    margin-top: 40px;
    float: right;

    .date {
      display: inline-block;
      margin-right: 50px;

      img {
        width: 20px;
        height: 20px;
      }

      span {
        margin-right: 5px;
        margin-top: 5px;
        display: inline-block;
        @include font-family(CeraPRO, 16px, normal, normal, normal, 1.72, normal, $black-color);

      }
    }

    .address {
      display: inline-block;

      img {
        width: 20px;
      }

      span {
        margin-right: 5px;
        @include font-family(CeraPRO, 16px, normal, normal, normal, 1.72, normal, $black-color);
      }
    }
  }

  .social-links {
    .instagram, .facebook, .twitter, .more-links {
      display: inline-block;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .twitter {
      margin: 0 15px;
    }

    .facebook, .more-links {
      margin-right: 15px;
    }

    .share {
      display: inline-block;

      a {
        padding: 8px 12px;
        @include font-family(CeraPRO, 16px, normal, normal, normal, 1.72, normal, $white_color);
        background-color: $gray-color;
        text-decoration: none;
        border-radius: 10px;
      }
    }
  }

  .content {
    .title {
      h1 {
        @include font-family(CeraPRO, 50px, bold, normal, normal, 1.2, -1.91, #2e2e2e);
      }
    }


    .text {
      .university, .experience, .position {
        margin-top: 20px;

        p {
          @include font-family(CeraPRO, 16px, normal, normal, normal, 1.72, normal, $gray-color);
        }
      }
    }
  }
}

.selected-video {
  iframe {
    width: 1519px;
    height: 600px
  }

  .video-photo {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.video-icon {
  @include position(absolute, 44%, 47%);
  width: 90px;
  height: 90px;

  img {
    width: 100%;
  }
}

//---------------> teacher start <-------------

.modal {
  @include position(fixed, 0, 0);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 100;

  .modal-teacher {
    margin: {
      left: 0%;
      top: 20%;
    }
    position: relative;

    .photo {
      //width: 820px;
      //height: 500px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .arrow-btn {
      .left {
        @include position(absolute, 50%, 10px);

        img {
          width: 30%;
        }
      }

      .right {
        position: absolute;
        top: 50%;
        right: -40px;

        img {
          width: 30%;
        }
      }

      .close {
        position: absolute;
        top: 8px;
        right: 10px;
        color: $gray-color;
      }
    }
  }
}

.popup {
  @include position(fixed, 0, 0);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.59);
  display: none;
  z-index: 100;

  .modal-teacher {
    background: {
      color: $white-color;
      repeat: no-repeat;
      size: cover;
    }
    padding: 50px 50px 50px 50px;
    margin: {
      left: 0%;
      top: 25%;
    }
    position: relative;

    .photo {
      //width: 250px;
      //height: 250px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .full-name {
      display: block;

      h5 {
        @include font-family(CeraPRO, 18px, 700, normal, normal, 1.72, normal, $main-color);
        margin: 10px 0;
      }
    }

    .position {
      display: block;

      p {
        @include font-family(CeraPRO, 16px, normal, normal, normal, 1.72, normal, $gray-color);
      }
    }

    .ideas {
      color: $gray-color;
      width: 365px;

      p {
        @include font-family(CeraPRO, 16px, normal, normal, normal, 1.72, normal, $gray-color);
      }
    }

    .arrow-btn {
      .left {
        @include position(absolute, 50%, 10px);

        img {
          width: 30%;
        }
      }

      .right {
        position: absolute;
        top: 50%;
        right: -40px;

        img {
          width: 30%;
        }
      }

      .close {
        position: absolute;
        top: 8px;
        right: 10px;
        color: $gray-color;
      }
    }
  }
}

.teacher-staff {
  padding-top: 100px;

  .teacher-photo {
    .photo {
      img {
        width: 100%;
        height: 100%;
      }
    }

    .fullname {
      text-align: center;
      margin-top: 15px;

      h4 {
        @include font-family(CeraPRO, 20px, bold, normal, normal, normal, normal, #2e2e2e);
      }
    }

    .position {
      text-align: center;

      p {
        @include font-family(CeraPRO, 16px, normal, normal, normal, normal, normal, #969696);
      }
    }
  }
}

//---------------> footer start <-------------


.apply {
  .head {
    padding-bottom: 30px;

    .title {
      margin: 0 auto;

      h1 {
        @include font-family(CeraPRO, 40px, bold, normal, normal, 1.35, -0.68, #2d2d94);
        text-align: center;
      }
    }


  }
  @keyframes input-transition {
    from {left: 10px;}
    to {left: 50%;}
  }

  @keyframes input-transition-active {
    from {left: 50%;}
    to {left: 10px;}
  }




  .form-input {
    position: relative;
    font-family: CeraPRO;

    .label-input {
      color: #969696;
      position: absolute;
      text-align: center;
      white-space: nowrap;
      width: 100%;
      transition: width .8s ease;
    }

    .transition-animate{
      width: 0;
    }

    .active-click {
      left: 0;
    }

    input {
      &:focus {
        box-shadow: none;
      }
    }
  }

  .form-sub {
    max-width: 55em;
    margin: 0 auto;

    form {
      .form-group {
        //margin: 40px 0;

        .name,
        .surname,
        .phone {
          border: none;
          border-bottom: 1px solid #969696;
          text-align: center;
          outline: none;

          &::placeholder {
            color: #969696;
            opacity: 1;
          }

          &:focus {
            border-bottom: 1px solid #969696;
          }
        }
      }

      .btn-apply {
        text-align: center;
        margin: 30px 0;

        button {
          padding: 16px 40px;
          border-radius: 25.5px;
          @include font-family(CeraPRO, 16px, 600, normal, normal, normal, -0.57, #ffffff);
          background-color: $main-color;
        }
      }
    }
  }
}

.scrollTop {
  position: fixed;
  bottom: 100px;
  right: 50px;

  .arrowScroll {
    display: none;

    img {
      cursor: pointer;
      width: 50px;
    }
  }
}

.footer {
  padding-top: 7rem;

  .footer-top {
    .form-group {
      margin-bottom: 5rem;
    }
  }

  .footer-bottom {
    padding: 56px 0 100px 0;
    background-color: #2d2d94;
    margin-top: 90px;

    .ft-menu {
      margin-right: 20px;

      .title {
        margin: 15px 0;

        h1 {
          margin: 0;
          @include font-family(CeraPRO, 18px, bold, normal, normal, normal, normal, $white_color);
        }
      }

      .ft-menu-list {
        padding: 0;

        li {
          display: block;
          margin: 15px 0;

          a {
            text-decoration: none;
            @include font-family(CeraPRO, 16px, normal, normal, normal, 2.44, normal, #d0cfcf);
          }
        }
      }

      .ft-address {
        max-width: 300px;
        height: 100%;
        display: flex;
        align-items: flex-end;

        span {
          display: block;
          margin: 0 0 16px 28px;
          @include font-family(CeraPRO, 16px, normal, normal, normal, 2.44, normal, #d0cfcf);
        }
      }
    }

    .ft-icon {
      display: flex;
      align-items: center;

      .ft-instagram, .ft-twitter, .ft-facebook {
        display: inline-block;

        i {
          border-radius: 50%;
          padding: 7px;
          color: $main-color;
          width: 29px;
          height: 29px;
          background-color: #c7c6cb;
        }
      }

      .ft-twitter {
        margin: 0 30px;
      }

      .ft-facebook {
        i {
          padding: 7px 10px;
        }
      }
    }
  }
}

.pt-6 {
  padding-top: 6.6rem;
}

.pt-7 {
  padding-top: 7em;
}


@media screen and (max-width: 991px) {
  .slider {
    h1 {
      font-size: 40px !important;
      text-align: center;
    }

    .text {
      p {
        text-align: center;
      }
    }
  }

  .title {
    h1 {
      font-size: 25px !important;
    }


  }
  .text {
    p {
      font-size: 14px !important;
    }
  }


  .new-blog {
    padding: 0;
  }

  .old-blog {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1315px;
  }
}

@media only screen and (max-width: 1024px) {
  .header-main, .header-light {
    display: none;
  }

  .header-res {
    display: block !important;
  }

  .blog-cooperation-content, .training-cooperation-content {
    .photo {
      position: static !important;
      width: 100% !important;
    }

    .title {
      padding-top: 0 !important;
    }

    .content {
      width: 100% !important;
      padding: 10px !important;
    }
  }

  .training-cooperation-content {
    display: flex;
    flex-direction: column-reverse;

    .title {
      margin-top: 0 !important;
    }
  }

  .opinion {
    .social-links {
      & > div {
        margin-bottom: 10px;
      }
    }

    .date-address {
      flex-direction: column;

      .date {
        margin-bottom: 10px;
      }
    }
  }

  .content-box {
    flex-wrap: wrap;
  }

  .features-block-content {
    flex-wrap: wrap;
    padding: 35px !important;
    text-align: center;

    .box {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 0 !important;
      margin-bottom: 25px;

      .icon {
        margin-bottom: 5px;
      }

      .content {
        margin-left: 0px !important;
      }
    }
  }

  .partner-block {
    .partner {
      justify-content: center;
    }
  }

  .difference-block {
    .content {
      padding: 20px;
    }
  }

  .ft-address {
    span {
      margin-left: 0 !important;
    }
  }

  .ft-menu {
    .title {
      h1 {
        font-size: 15px !important;
      }
    }
  }

  .phyton-camp {
    display: none;
  }

  .new-training {
    padding-top: 0;
  }

  .head-left {
    .title {
      h1 {
        font-size: 15px !important;
      }

    }

    a {
      font-size: 14px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .blog-cooperation-content {
    .photo {
      width: 50%;
    }
  }
}
